<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="height: 100vh; display: flex; flex-direction: column;">
<footer th:fragment="footer" class="bg-white py-4 mt-auto">
    <div class="container px-5 d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="row">
            <div class="col-auto"><div class="small m-0 text-center">Copyright &copy; Zayne 2024</div></div>
        </div>
    </div>
</footer>
</body>
</html>